---
import { Footer, Page404, IconLinks } from "../../../src";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <IconLinks />
    <title>Vyke playground</title>
  </head>
  <body>
    <Page404 />
    <Footer
      openSourceLinks={[
        {
          href: "https://github.com/albizures/vyke-results",
          label: "@vyke/results",
        },
      ]}
      projectLinks={[{ href: "https://clock.vyke.dev", label: "Online Clock" }]}
      otherLinks={[{ href: "/legal", label: "legal" }]}
    >
      <span slot="github-icon">|github|</span>
      <span slot="twitter-icon">|twitter|</span>
    </Footer>
  </body>
</html>
