---
import HeaderTitle from './header-title.astro'
import Section from './section.astro'

export type Props = {
	title?: string
	enableTitlePrefix?: boolean
	fullWidth?: boolean
}

const { title, enableTitlePrefix = true, fullWidth = false } = Astro.props;
---

<Section fullWidth={fullWidth} as="header" class="flex items-center justify-between my-4">
	<div class="flex-1">
		<slot name="left">
			<HeaderTitle title={title} enableTitlePrefix={enableTitlePrefix} />
		</slot>
	</div>
	<div><slot name="center" /></div>
	<div class="flex-1 flex justify-end">
		<slot name="right" />
	</div>
</Section>
