---
export type Props = {
	class?: string
	sectionClass?: string
	as?: 'div' | 'section' | 'header'
	fullWidth?: boolean
}

const { class: className, as: Tag = 'section', sectionClass, fullWidth = false } = Astro.props;
---

<div class:list={['px-6', sectionClass]}>
	<Tag
		class:list={['mx-auto', className, {
			'max-w-3xl': !fullWidth,
		}]}
	>
		<slot />
	</Tag>
</div>
