<label class="swap swap-rotate btn btn-circle">
	<input type="checkbox" data-theme-toggle value="dark" />

	<div class="swap-on">
		<slot name="light" />
	</div>
	<div class="swap-off">
		<slot name="dark" />
	</div>
</label>
<script>
import { on, query, select } from '@vyke/dom'

const [checkbox] = select(query<HTMLInputElement>('[data-theme-toggle]'))

if (!checkbox) {
	throw new Error('Missing checkbox element')
}

const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)')

let changeOff: () => void
if (localStorage.getItem('v:theme') === null) {
	checkbox.checked = mediaQuery.matches

	changeOff = on(mediaQuery, 'change', (event) => {
		document.documentElement.dataset.theme = getTheme(event.matches)
	})
}

function getTheme(isDark: boolean) {
	return isDark ? 'dark' : 'cupcake'
}

on(checkbox, 'change', () => {
	if (changeOff) {
		changeOff()
	}
	const theme = getTheme(checkbox.checked)

	document.documentElement.dataset.theme = theme
	localStorage.setItem('v:theme', theme)
})
</script>
