<label class="swap swap-rotate">
  <input type="checkbox" data-theme-toggle value="dark" />

  <slot name="light" />
  <slot name="dark" />
</label>
<script>
  import { select, query, on } from "@vyke/dom";
  import { unwrap } from "@vyke/results";

  const [checkbox] = unwrap(
    select(query<HTMLInputElement>("[data-theme-toggle]"))
  );

  const a = window.matchMedia("(prefers-color-scheme: dark)");

  const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");

  let changeOff: () => void;
  if (localStorage.getItem("v:theme") === null) {
    changeOff = on(mediaQuery, "change", (event) => {
      document.documentElement.dataset.theme = getTheme(event.matches);
    });
  }

  function getTheme(isDark: boolean) {
    return isDark ? "dark" : "cupcake";
  }

  on(checkbox, "change", () => {
    changeOff && changeOff();
    const theme = getTheme(checkbox.checked);

    document.documentElement.dataset.theme = theme;
    localStorage.setItem("v:theme", theme);
  });
</script>
